@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --font-body: "Space Mono", monospace;
  --font-headline: "Audiowide", sans-serif;
  /* colors */
  --primary-color: #ec9c40;
  --secondary-color: #ffffff;
  --tertiary-color: #a4b8c4;
  --light-grey: #d0d0d0;
  --transparent-white: rgba(255, 255, 255, 0.281);
  --dark-grey: #303030;
  --black: #000000;

  color: var(--black);

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-headline);
  font-weight: 200;
}

body {
  font-family: var(--font-body);
  background-color: var(--black);
  color: white;
}

main {
  padding: 1rem 2rem;
}

/* Class based disegn */

.highlight {
  color: var(--primary-color);
}

.flex {
  display: flex;
  gap: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
}

.button {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
  padding: 0.5rem 2rem;
}

.button:hover {
  border-color: var(--secondary-color);
  background-color: var(--secondary-color);
  color: black;
  cursor: pointer;
}

/* End Class design */

/* Header Style */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.logo img {
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 0 5px 13px 0;
}

/* End Header Style */

/* Icon Style*/
.daily_fact {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.daily_fact svg {
  width: 25px;
}

.daily_fact:hover svg {
  fill: gray;
}
/* End Icon Style */

/* Hero style */
.hero {
  position: relative;
}

.hero__banner {
  position: absolute;
  top: 20%;
  left: 20%;
  padding: 1rem 2rem 2rem 2rem;
  border-radius: 15px;

  background-color: #0c0000b2;
}

.hero__banner p {
  font-size: 1.5rem;
}

.hero__image {
  width: 100%;
  max-height: 550px;
  object-fit: contain;
}

.hero__buttons button {
}
/* End Hero style */

/* Viewl List style */
.viewlist {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.viewlist__card img {
  width: 150px;
}
.viewlist__card a {
  text-decoration: none;
  color: white;
}
/* End Viewl List style */

/* Mars Galery */
.planet__galery {
  grid-template-columns: repeat(3, 1fr);
}

.planet__card {
  display: flex;
  flex-direction: column;
  border: 1px white solid;
  padding: 1.5rem;
  border-radius: 20px;
}

.planet__card img {
  max-height: 250px;
  object-fit: contain;
}
/* End Mars Galery */

/* Daily Image */
.daily .planet__card {
  width: 60vw;
  margin: 0 auto;
}
.daily .planet__card span {
  width: 55vw;
  margin: auto;
  padding: 1rem;
}
.daily .planet__card img {
  max-height: 450px;
}
/* End Daily Image */

/* Mars Weather */
.weather__card {
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 0 auto;
  gap: 2rem;
}

.temperature {
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 20px;
}

.season {
  border: 1px solid white;
  padding: 1rem 2rem;
  border-radius: 20px;
}
/* End Mars Weather */